<h2>About Urinals</h2>
<p>
  we have a deep passion for urinals and need to make a blog about them. feel free. A place for urinal photos and thoughts to mingle. Feel free to look.
</p>

{{#link-to 'index'}}Home{{/link-to}}
<!-- {{#link-to 'contact'}}contact{{/link-to}} -->
